.profilo {
    width: 350px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 2px #333333;
}
ul {
    list-style-type: none;
}
li {
    background: none;
    line-height: 2.5em;
}
.no-hover-decoration:hover {
  text-decoration: none;
}
.contact {
  padding: 10px 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  min-width: 58px;
}
.fa-facebook {
  background: linear-gradient(blue, indigo);
  color: white;
  border-radius: 15px;
}
.fa-instagram {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  color: white;  
  border-radius: 15px;                                                                                                                              
}
.fa-google {
  background: linear-gradient(red, rgb(155, 5, 17));
  color: white;  
  border-radius: 15px;                 
}
.fa-whatsapp  {
    background: linear-gradient(rgb(3, 139, 3), rgb(4, 65, 22));
    color: white;
    border-radius: 15px;
}
.fa-telegram {
    background: linear-gradient( rgb(84, 147, 228), rgb(3, 3, 196));
    color: white;
    border-radius: 15px;
}
.enlarge-font-size {
  font-size: 18px !important;
}
  
@media (min-width: 768px) {
    .portfolio-card .pc-col-img {
        float: right;
    }
}
.card-1 {
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 7px #acacac;
}
.gradiant {
  background: linear-gradient(rgb(250, 246, 246), rgb(216, 210, 210));
  background-size: cover;
}
.link {
  color: rgb(1, 116, 110);
}
.card-2 {
  background-image: url("./immagini/photo2.jpg");
  box-shadow: inset 0px 15px 15px #acacac;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-window {
  min-height: 400px;
  background: transparent;
}
a.contact:hover {
  opacity: 0.8;
}
.btn-outline-dark:disabled {
  opacity: 1;
}